### 1. Sampling with without replacement

An ice-cream manufacturer wants to study the sales of ice-creams to decide the production policies of the company. He collects the data for the number of ice-creams sold in a month from the 30 franchise. Randomly select the sales of 10 franchise for the study. data = [21, 93, 62, 76, 73, 20, 56, 95, 41, 36, 38, 13, 80, 88, 34, 18, 40, 11, 25, 29, 61, 23, 82, 10, 92, 69, 60, 87, 14, 91]

In [1]:
data =  [21, 93, 62, 76, 73, 20, 56, 95, 41, 36, 38, 13, 80, 88, 34, 18, 40, 11, 25, 29, 61, 23, 82, 10, 92, 69, 60, 87, 14, 91]

In [2]:
import random

In [3]:
random.sample(data, k=10)

[23, 69, 38, 62, 88, 73, 61, 18, 95, 10]

In [4]:
samples=[random.sample(data, k=10) for i in range(10)]
samples

[[80, 73, 23, 91, 69, 93, 56, 60, 18, 38],
 [87, 92, 11, 38, 93, 60, 95, 56, 14, 34],
 [38, 60, 34, 92, 13, 93, 40, 11, 88, 23],
 [60, 69, 73, 40, 56, 92, 95, 62, 18, 41],
 [21, 38, 61, 41, 88, 82, 20, 11, 92, 40],
 [34, 69, 25, 88, 40, 38, 92, 91, 60, 23],
 [88, 92, 80, 62, 91, 40, 69, 23, 34, 73],
 [21, 80, 10, 20, 29, 87, 61, 56, 95, 60],
 [61, 80, 20, 38, 25, 41, 88, 13, 14, 10],
 [34, 21, 25, 60, 13, 11, 91, 69, 14, 62]]

### 2. Sampling with replacement

Consider 8 identical boxes that contain different number of shuttlecocks. Draw a sample of 20 boxes with replacement.

data = [18, 13, 16, 17, 15, 21, 19, 12]

In [5]:
data = [18, 13, 16, 17, 15, 21, 19, 12]

In [6]:
random.choices(data, k= 10)

[15, 13, 12, 18, 16, 18, 18, 16, 13, 18]

In [7]:
samples=[random.choices(data, k=10) for i in range(10)]
samples

[[13, 18, 21, 21, 15, 16, 16, 18, 18, 13],
 [15, 17, 15, 13, 12, 13, 12, 17, 16, 12],
 [19, 18, 19, 16, 18, 13, 12, 17, 17, 17],
 [12, 15, 21, 13, 15, 19, 18, 12, 17, 17],
 [16, 19, 16, 17, 15, 17, 16, 19, 18, 13],
 [12, 18, 17, 21, 13, 13, 13, 12, 16, 19],
 [12, 13, 21, 18, 21, 19, 17, 19, 16, 19],
 [21, 17, 16, 16, 12, 18, 15, 19, 19, 19],
 [21, 12, 16, 21, 12, 18, 18, 18, 21, 17],
 [15, 21, 16, 13, 13, 21, 21, 12, 19, 19]]

### 3. Stratified Sampling

In [8]:
import pandas as pd
income = pd.DataFrame({'status':['Low', 'High', 'Below Poverty', 'Middle', 'Low', 'High','Middle', 'Low', 'Middle', 
                                      'High', 'Middle', 'Below Poverty', 'Low', 'Below Poverty', 'High'],
                       'inc':[4850, 9270, 2520, 6020, 5790, 10400, 7140, 3100, 6850, 9740, 6540, 1230, 4400, 2210, 9880]})

In [10]:
income

           status    inc
0             Low   4850
1            High   9270
2   Below Poverty   2520
3          Middle   6020
4             Low   5790
5            High  10400
6          Middle   7140
7             Low   3100
8          Middle   6850
9            High   9740
10         Middle   6540
11  Below Poverty   1230
12            Low   4400
13  Below Poverty   2210
14           High   9880

In [12]:
income['status'].value_counts()

Middle           4
Low              4
High             4
Below Poverty    3
Name: status, dtype: int64

In [13]:
ss = income.groupby('status').apply(lambda x : x.sample(2))
ss

                         status    inc
status
Below Poverty 13  Below Poverty   2210
              2   Below Poverty   2520
High          14           High   9880
              5            High  10400
Low           0             Low   4850
              7             Low   3100
Middle        10         Middle   6540
              8          Middle   6850

### 4. Hypothesis Test

Systolic blood pressures of 14 patients are given below:

183, 152, 178, 157, 194, 163, 144, 114, 178, 152, 118, 158, 172, 138

Test whether the average blood pressure is less than 165

H0: The average blood pressure did not drop =>  μ = 165

H1:  μ < 165

In [17]:
bp = [183, 152, 178, 157, 194, 163, 144, 114, 178, 152, 118, 158, 172, 138]

In [18]:
mean = 165

In [19]:
from scipy.stats import ttest_1samp

In [21]:
tstatistic, pvalue_tt = ttest_1samp(bp, mean)

In [23]:
pvalue_lt = pvalue_tt/2

In [24]:
pvalue_lt

0.11787740505906531

In [25]:
alpha = 0.05

In [26]:
if pvalue_tt < alpha:
    print("Reject the null hypothesis")
else:
    print("Failed to reject the null hypothesis")

Failed to reject the null hypothesis

### 5. Hypothesis Testing with Two Samples

Compare the effectiveness of ammonium chloride and urea, on the grain yield of paddy, an experiment was conducted. The results are given below:

Ammonium chloride (X1)

13.4 10.9 11.2 11.8 14 15.3 14.2 12.6 17 16.2 16.5 15.7 

Urea (X2) 

12 11.7 10.7 11.2 14.8 14.4 13.9 13.7 16.9 16 15.6 16

Hypothesis H0: The effect of ammonium chloride and urea on grain yield of paddy are equal i.e., μ1 = μ2

H1: The effect of ammonium chloride and urea on grain yield of paddy is not equal i.e., μ1 ≠ μ2

In [27]:
ac = [13.4,10.9,11.2,11.8,14,15.3,14.2,12.6,17,16.2,16.5,15.7]
ur = [12,11.7,10.7,11.2,14.8,14.4,13.9,13.7,16.9,16,15.6,16]

In [29]:
from scipy.stats import ttest_ind
t_value, p_value = ttest_ind(ac, ur)

In [30]:
alpha = 0.05

In [31]:
if p_value > alpha:
    print("Failed to reject the null hypothesis")
else:
    print("Reject the null hypothesis, accept the alternative hypothesis")

Failed to reject the null hypothesis

In [32]:
p_value

0.8551954147800473

### 6. ANOVA

In [33]:
# Source data from web - not really CSVs - just a list separated by new-line
URLA = "https://raw.githubusercontent.com/edbullen/Hypothesis/master/storeA.csv"
URLB = "https://raw.githubusercontent.com/edbullen/Hypothesis/master/storeB.csv"
URLC = "https://raw.githubusercontent.com/edbullen/Hypothesis/master/storeC.csv"

In [35]:
import pandas as pd
import urllib.request as urlreq

In [36]:
A = urlreq.urlopen(URLA).read().decode()
B = urlreq.urlopen(URLB).read().decode()
C = urlreq.urlopen(URLC).read().decode()
A

'7.357195018418435950e+01\n3.836736256425078295e+01\n4.936398786222506629e+01\n6.196171419770013955e+01\n3.873959044251329686e+01\n5.594532269208924191e+01\n3.665062483704001295e+01\n6.067437230964763728e+01\n6.307900236209383138e+01\n8.732085001150807102e+01\n5.034422982293834536e+01\n5.710903340329299738e+01\n7.867520952812168389e+01\n6.103927417830038848e+01\n8.228774307456050963e+01\n5.358957581622391331e+01\n7.292461536353366114e+01\n7.456030310272610961e+01\n5.502980576126244472e+01\n4.125844437836526879e+01\n5.379588118257881035e+01\n6.479609893114158581e+01\n7.069648919927517738e+01\n6.674072317003410149e+01\n7.501322050323572910e+01\n9.512552860459085480e+01\n4.945512800346693894e+01\n6.603612648529461637e+01\n5.302736304779577381e+01\n7.336372417701470283e+01\n4.025571097538361443e+01\n7.104422625480138720e+01\n5.050138450046251393e+01\n3.822366663599243708e+01\n4.275767497076680002e+01\n5.250694334331922875e+01\n3.860465800095423106e+01\n5.967850535327480799e+01\n4.419604564130632696e+01\n4.692727223905029632e+01\n5.524050063993864512e+01\n6.452773076615216041e+01\n3.409865428794979891e+01\n4.223778758418599466e+01\n5.286937388278037986e+01\n9.010958086025604530e+01\n5.977157363399898315e+01\n6.557718324123243292e+01\n6.740180559018563144e+01\n5.673021713669207600e+01\n6.326785746287571754e+01\n4.537055306437379443e+01\n8.038995288201294898e+01\n8.765807684800267907e+01\n5.145634914385123437e+01\n6.599748438037690335e+01\n7.247729986484409892e+01\n6.430071532862405093e+01\n1.973984606312312451e+01\n4.623986878430007863e+01\n5.234828787825712482e+01\n6.111952526518822992e+01\n5.620838267782464470e+01\n3.934468135422784485e+01\n5.793250946829005699e+01\n5.337617283865964168e+01\n4.881742261241011249e+01\n8.003593772813557905e+01\n4.225474001941580582e+01\n4.446202469954634751e+01\n6.324014289932584632e+01\n5.375811252093936332e+01\n4.112354868941920927e+01\n7.037251821541531172e+01\n5.804287059759288070e+01\n5.380533131325982055e+01\n3.355400810453667759e+01\n5.005772818954029901e+01\n5.901472300729621878e+01\n6.318681146571653784e+01\n5.636447660760124023e+01\n7.954804110841452314e+01\n5.758182512787529106e+01\n4.180650265804810317e+01\n6.329608989388803764e+01\n6.920391058136740980e+01\n7.907999731901252005e+01\n6.887071255731028430e+01\n5.461550389300290931e+01\n4.162384273193332263e+01\n5.805435004213445893e+01\n5.719652908347755726e+01\n6.906753866144781284e+01\n7.673936006326441372e+01\n6.171461741693730829e+01\n9.044575863527471427e+01\n4.497285945159764253e+01\n1.493461322613611486e+01\n6.022982158123146945e+01\n3.703612975070725355e+01\n3.857973402774244676e+01\n5.635958870351284133e+01\n9.582780235778004396e+01\n8.289304549196448590e+01\n4.808376399087323705e+01\n4.140360494367988053e+01\n3.962295002532137289e+01\n6.815395305135625392e+01\n6.251347589852274922e+01\n4.839594646904971853e+01\n4.343936620280713612e+01\n5.386933710214819371e+01\n4.540197090821353498e+01\n4.265484355551922135e+01\n7.756769985761755493e+01\n4.221598942876697436e+01\n8.022825437548189598e+01\n5.220779730477585900e+01\n4.185889515759354396e+01\n8.340105977568414630e+01\n6.319638331424418709e+01\n6.135383467595413975e+01\n8.002929924226415892e+01\n4.889037457594122316e+01\n5.397640551650137297e+01\n5.644664214168479077e+01\n5.013546236389973387e+01\n4.193267705546017510e+01\n6.223540804237562440e+01\n6.002470793948996430e+01\n7.194323654891901754e+01\n5.937919399612486160e+01\n4.288128137287135644e+01\n7.918722896819622292e+01\n7.931010057698902926e+01\n4.844544745787756312e+01\n5.191236907650098686e+01\n4.113612282419907018e+01\n6.507530570973150930e+01\n4.921085782650790463e+01\n8.250977679977884804e+01\n6.094264609310779690e+01\n5.683480823800186243e+01\n6.473765846377608568e+01\n6.944225076039874978e+01\n4.786210010518421143e+01\n7.252226994175532582e+01\n6.898808622555003467e+01\n5.823601965634116340e+01\n6.384862397545446555e+01\n'

In [37]:
import numpy as np
A = np.asarray(A.split()).astype(float)
B = np.asarray(B.split()).astype(float)
C = np.asarray(C.split()).astype(float)
A

array([73.57195018, 38.36736256, 49.36398786, 61.9617142 , 38.73959044,
       55.94532269, 36.65062484, 60.67437231, 63.07900236, 87.32085001,
       50.34422982, 57.1090334 , 78.67520953, 61.03927418, 82.28774307,
       53.58957582, 72.92461536, 74.5603031 , 55.02980576, 41.25844438,
       53.79588118, 64.79609893, 70.6964892 , 66.74072317, 75.0132205 ,
       95.1255286 , 49.455128  , 66.03612649, 53.02736305, 73.36372418,
       40.25571098, 71.04422625, 50.5013845 , 38.22366664, 42.75767497,
       52.50694334, 38.604658  , 59.67850535, 44.19604564, 46.92727224,
       55.24050064, 64.52773077, 34.09865429, 42.23778758, 52.86937388,
       90.10958086, 59.77157363, 65.57718324, 67.40180559, 56.73021714,
       63.26785746, 45.37055306, 80.38995288, 87.65807685, 51.45634914,
       65.99748438, 72.47729986, 64.30071533, 19.73984606, 46.23986878,
       52.34828788, 61.11952527, 56.20838268, 39.34468135, 57.93250947,
       53.37617284, 48.81742261, 80.03593773, 42.25474002, 44.4620247 ,
       63.2401429 , 53.75811252, 41.12354869, 70.37251822, 58.0428706 ,
       53.80533131, 33.5540081 , 50.05772819, 59.01472301, 63.18681147,
       56.36447661, 79.54804111, 57.58182513, 41.80650266, 63.29608989,
       69.20391058, 79.07999732, 68.87071256, 54.61550389, 41.62384273,
       58.05435004, 57.19652908, 69.06753866, 76.73936006, 61.71461742,
       90.44575864, 44.97285945, 14.93461323, 60.22982158, 37.03612975,
       38.57973403, 56.3595887 , 95.82780236, 82.89304549, 48.08376399,
       41.40360494, 39.62295003, 68.15395305, 62.5134759 , 48.39594647,
       43.4393662 , 53.8693371 , 45.40197091, 42.65484356, 77.56769986,
       42.21598943, 80.22825438, 52.2077973 , 41.85889516, 83.40105978,
       63.19638331, 61.35383468, 80.02929924, 48.89037458, 53.97640552,
       56.44664214, 50.13546236, 41.93267706, 62.23540804, 60.02470794,
       71.94323655, 59.379194  , 42.88128137, 79.18722897, 79.31010058,
       48.44544746, 51.91236908, 41.13612282, 65.07530571, 49.21085783,
       82.5097768 , 60.94264609, 56.83480824, 64.73765846, 69.44225076,
       47.86210011, 72.52226994, 68.98808623, 58.23601966, 63.84862398])

In [38]:
df = pd.DataFrame({'StoreA': A, 'StoreB': B, 'StoreC': C})
df.head()

      StoreA     StoreB     StoreC
0  73.571950  78.358550  32.232597
1  38.367363  76.019629  61.365497
2  49.363988  31.368729  60.259047
3  61.961714  45.475715  56.874925
4  38.739590  90.219779  74.783921

In [39]:
print('Mean of Store A ', A.mean().round(2))
print('Mean of Store B ', B.mean().round(2))
print('Mean of Store C ', C.mean().round(2))

Mean of Store A  58.35
Mean of Store B  55.75
Mean of Store C  56.77

In [40]:
from scipy.stats import f_oneway

In [41]:
fstat, pval = f_oneway(A, B, C)
pval

0.32132109475363463

In [42]:
alpha =0.05

In [43]:
URLC_NEW = "https://raw.githubusercontent.com/edbullen/Hypothesis/master/storeC_NEW.csv"
C_NEW = urlreq.urlopen(URLC_NEW).read().decode()
C_NEW = np.asarray(C_NEW.split()).astype(float)

In [45]:
fstat, pval = f_oneway(A, B, C_NEW)
pval

0.018592989397402296

In [46]:
C_NEW.mean().round(2)

60.82

### 7. CHI-SQUARE

In [49]:
df = pd.DataFrame({'Gender' : ['M', 'M', 'M', 'F', 'F'] * 10,
                   'isSmoker' : ['Smoker', 'Smoker', 'Non-Smpoker', 'Non-Smpoker', 'Smoker'] * 10
                  })
df.head()

  Gender     isSmoker
0      M       Smoker
1      M       Smoker
2      M  Non-Smpoker
3      F  Non-Smpoker
4      F       Smoker

Assume that we want to test if there is a statistically significant difference in Genders (M, F) population between Smokers and Non-Smokers.

In [51]:
contingency = pd.crosstab(df['Gender'], df['isSmoker'])
contingency

isSmoker  Non-Smpoker  Smoker
Gender
F                  10      10
M                  10      20

In [52]:
contingency = pd.crosstab(df['Gender'], df['isSmoker'], normalize='index')
contingency

isSmoker  Non-Smpoker    Smoker
Gender
F            0.500000  0.500000
M            0.333333  0.666667

In [54]:
from scipy.stats import chi2_contingency
chi2, p, dof, expected = chi2_contingency(contingency)
print(chi2, p, dof, expected)

1.4285714285714286 0.23199772362873072 1 [[0.41666667 0.58333333]
 [0.41666667 0.58333333]]

In [55]:
p > alpha

True

### 8. Creative Lab

In [56]:
URL1 = "https://raw.githubusercontent.com/edbullen/Hypothesis/master/week1.csv"
URL2 = "https://raw.githubusercontent.com/edbullen/Hypothesis/master/week2.csv"

##### Test if the independent dataset are approximately normally distributed

###### 8.1 Find individual means, standard deviations

###### 8.2 What test should be applied here?